<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="static/css/main.css"> -->
    </head>
    <body>
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-2 text-white">Emotion</a></li>
                    </ul>
                    
                    <!-- <div class="text-end">
                        <a href="https://github.com/Kulallador/dlschool_project" class="nav-link px-2 text-white">Github</a>
                    </div> -->
                </div>
            </div>
        </header>
        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <div id="previewLabel">
                <h1 class="display-4 fw-bold">Оценка тональности отзыва</h1>
                <p class="lead mb-4">Введите отзыв</p>
            </div>
            <!-- <div id="loadDiv" hidden="true">
                <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p>Загрузка...</p>
            </div> -->
            <!-- <div class="text-danger" id="errorDiv" hidden="true" >
                <p id="errorText">Ошибка</p>
            </div> -->
            <div class="col-lg-6 mx-auto">
                <form id="formElem" method="POST">{% csrf_token %}
                    <div class="justify-content-sm-center" id="contentDiv">
                        <textarea type="text" id="textReview" cols="60" rows="5" name="review"></textarea>
                        <p id="resultClassification"></p>
                        <button id="submitBtn" type="submit" class="btn btn-outline-success">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');

            formElem.onsubmit = async (e) => {
                e.preventDefault();

                // document.getElementById("loadDiv").hidden = false;
                // document.getElementById("errorDiv").hidden = true;

                // console.log("loadDiv ", + document.getElementById("loadDiv").hidden)

                // document.getElementById("submitBtn").disabled = true
                console.log("push button");
                console.log(csrftoken);
                let response = await fetch("/sentiment/classify", {
                    method: 'POST',
                    headers: {'X-CSRFToken': csrftoken},
                    mode: 'same-origin',
                    body: new FormData(formElem)
                });
                // document.getElementById("submitBtn").disabled = false

                let result = await response.json(); 

                // document.getElementById("loadDiv").hidden = true;

                if (result.error != null) {
                    document.getElementById("errorDiv").hidden = false;
                    document.getElementById("errorText").textContent = result.error;
                    return false;
                }                
                
                document.getElementById("resultClassification").textContent = result.score + " " + result.sentiment;

                return false;
            }
        </script>
        <!-- <script src="static/js/index.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html> 